@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Global styles */
@layer base {
  body {
    /* -[#1f2937] */
    @apply bg-[#000] text-[#fff] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-lg shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white 
  }
}
.custom-img {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url("../public/assets/main-bg.jpg");
  /* opacity: 50%; */
   background-repeat: no-repeat;
   background-position: center;
}